<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Controls.Complete" version="1.4.8" />
  <package id="Newtonsoft.Json" version="4.0.4" />
  <package id="SilverlightToolkitWP" version="4.2011.11.15" />
  <package id="WriteableBitmapEx" version="0.9.8.6" />
</packages>